<a href="https://colab.research.google.com/github/NAMRATA-MISHRA/Projects/blob/main/K_FoldCrossValidartion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importing required libraries  
import numpy as np  
import pandas as pd
pd.__version__
import matplotlib.pyplot as plt
from sklearn import linear_model, tree, ensemble
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression  
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score  
from sklearn.metrics import accuracy_score

In [ ]:
# loading the csv data to the pandas dataframes
tpmd_data =pd.read_csv('/content/tpmd.csv')

In [ ]:
tpmd_data.head()

      T    RH  LW  WS  GR  DayPrediction
0  32.3  47.0  24   3  51              0
1  31.6  45.0  23   2  49              0
2  30.4  43.0  21   4  46              0
3  31.7  46.0  24   3  50              0
4  32.5  50.0  27   1  53              0

In [ ]:
X=tpmd_data.drop(columns='DayPrediction',axis=1)
y=tpmd_data['DayPrediction']

In [ ]:
print(X)

        T    RH  LW  WS  GR
0    32.3  47.0  24   3  51
1    31.6  45.0  23   2  49
2    30.4  43.0  21   4  46
3    31.7  46.0  24   3  50
4    32.5  50.0  27   1  53
..    ...   ...  ..  ..  ..
238  18.5  60.0  31   4  28
239  19.6  61.0  30   3  26
240  20.4  64.0  27   2  25
241  21.1  67.0  29   1  27
242  20.0  65.0  26   2  26

[243 rows x 5 columns]

In [ ]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
238    0
239    0
240    0
241    0
242    0
Name: DayPrediction, Length: 243, dtype: int64

In [ ]:
# Lets split the data into 5 folds.  
# We will use this 'kf'(KFold splitting stratergy) object as input to cross_val_score() method
kf =KFold(n_splits=5, shuffle=True, random_state=None)

cnt = 1
# split()  method generate indices to split data into training and test set.
for train_index, test_index in kf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
    cnt += 1

Fold:1, Train set: 194, Test set:49
Fold:2, Train set: 194, Test set:49
Fold:3, Train set: 194, Test set:49
Fold:4, Train set: 195, Test set:48
Fold:5, Train set: 195, Test set:48

In [ ]:
 X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)
model =DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
X_train_prediction= model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,y_train)
print('accuracy on training data:',training_data_accuracy)

accuracy on training data: 1.0

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)
print('accuracy on test data:', test_data_accuracy)

accuracy on test data: 0.9183673469387755

In [ ]:
input_data =(29.3,50,25,2,49)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped =input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==0):
  print('IT IS not ')
if(prediction[0]==1):
  print("IT IS ")

[0]
IT IS not

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [ ]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [ ]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf, scoring="neg_mean_squared_error")
print(f'Scores for each fold: {score}')
rmse(score.mean())

Scores for each fold: [-0.05585601 -0.06663424 -0.09680595 -0.06249636 -0.11340059]
rmse= 0.28

In [ ]:
score = cross_val_score(tree.DecisionTreeRegressor(random_state= 42), X, y, cv=kf, scoring="neg_mean_squared_error")
print(f'Scores for each fold: {score}')
rmse(score.mean())

Scores for each fold: [-0.04081633 -0.10204082 -0.08163265 -0.08333333 -0.16666667]
rmse= 0.31

In [ ]:
score = cross_val_score(ensemble.RandomForestRegressor(random_state= 42), X, y, cv= kf, scoring="neg_mean_squared_error")
print(f'Scores for each fold are: {score}')
rmse(score.mean())

Scores for each fold are: [-0.03532041 -0.05481224 -0.05593061 -0.06981875 -0.03243333]
rmse= 0.22

In [ ]:
score = cross_val_score(model, X, y, cv = kf)

In [ ]:
mean_acc_score = sum(score) / len(score) * 100

In [ ]:
print("Accuracy score of each fold: ", score)  
print("Mean accuracy score: ", mean_acc_score)

Accuracy score of each fold:  [0.91836735 0.85714286 0.95918367 0.95833333 0.89583333]
Mean accuracy score:  91.77721088435375